*{
    font-family: 'Montserrat', sans-serif;

}
body { 
    margin:0px;
    background-color:rgb(245, 245, 245)
}

header {
    background-color: #1F2937;
   
    padding: 1rem 2rem 6rem 5rem;
    
}

.links {
    float:right;
} 

.cabeza {
    display:inline;
    font-size: 24px;
    color: #F9FAF8;
    margin-left:60px;
}
.chiquito {
    font-size: 18px;
    color:#E5E7EB;
    margin:10px;
    text-decoration:0;
 
}
.chiquito2 {
    font-size: 18px;
    color:#E5E7EB;
    margin:0px 0px 10px;
 
}



#main {
    font-size: 48px;
    font-weight: 800px;
    color: #F9FAF8;
    margin-bottom: 0px;
    padding-right: 0px;
    

}

.container-main {
    text-align:left ;
    margin: 60px;
    display:flex;
}

.container1 {
    width:400px
}

.img1 {
    margin-left:50px;
    width:400px;
 flex:1; 
}

.button {
    background-color: #3882f6;
     padding:10px 30px;
     color:white;
     font-size: 15px;
    font-weight: 800;
    border-radius:8px; 
    border:none;
}




.tituloimgs {
    color:#1f2937;
    font-weight:800px;
    font-size:39px;
    text-align: center;
}

.flex-container {
    display:flex;
    justify-content:center;
    margin-bottom: 80px;

}
.flex-container div {
   width:220px;
   padding:10px;
   color:#1f2937

}
.imgs {
    height: 200px;
    width:217px;
    border-radius:10px;
    border:5px solid;
    border-color: #3882f6;


}








.asd{ background-color: #E5E7EB;

    padding:100px 180px 150px;
     
     }


    
.quote {  
    font-style:italic;
    color: #1f2937;
    font-size:36px;
    
   margin:0px;

    
}

.nombre {
    color:#020306;
    font-size:30px;
    font-weight:bold;
    float:right;
    margin:0px;

}






.cuerpoaction{
margin:70px;
}


.action {
    margin:auto;
    width: 800px;
    color:white;
    background-color: #3882f6;
    display:flex;
    justify-content:space-around;
    border-radius: 10px;
    padding:40px;
    
}

.action h3{
margin:0px;
}

.action h5{
    margin:0px;
}


.button2 {
    background-color: #3882f6;
     font-size: 15px;
     padding:10px 30px;
    font-weight: 800;
    border-radius:8px; 
    border:solid white;
    color:white;

}





.hero {
    background-color: #1F2937;
    margin:0px;
    height:100px;
}

.copy{
    font-size:18px;
    font-weight: 500;
    color:#E5E7EB;
    text-align: center;
    padding:40px;
}
